html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.front #columns {width: 100%}
#layout_3_1_overlay .slide img {width: 100%;}
#header-container {width: 100%; background-color: #ffffff}
img.image-style-os-files-xxlarge {width: 100%; float: right; margin-right:0px; padding-bottom: 15px}


.header-main.header-right .region-header-second .region-inner{}

#menu-bar {background: #C0C0C0;}



#menu-bar ul.nice-menu a,
#menu-bar ul.nice-menu a:visited {
    color: #000000;
    text-decoration: none;
    font-size: 1.3em;
    font-family: copperplate
}

.front.branding-container, #header-container, #columns, #menu-bar #block-os-primary-menu, #footer.gpanel, .region-footer, .message-inner, #powerby-login {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    margin-top: 0;
    }

.front.region-inner{
    padding-top: 0px
}



div#page-wrapper {background-color: #A0DBA1}




li.rslides1_s1 {background: none !important}
li.rslides1_s2 {background: none !important}
li.rslides1_s3 {background: none !important}
li.rslides1_s4 {background: none !important}
li.rslides1_s5 {background: none !important}
li.rslides1_s6 {background: none !important}
li.rslides1_s7 {background: none !important}
li.rslides1_s8 {background: none !important}
li.rslides1_s9 {background: none !important}
li.rslides1_s10 {background: none !important}
li.rslides1_s11 {background: none !important}
li.rslides1_s12 {background: none !important}

#layout_3_1_overlay .rslides_tabs{bottom: -23%; right: 50%} .rslides_tabs li.rslides_here a{color: #6699ff !important} 
.rslides_tabs a, .rslides_tabs a:visited{color: #ffffff !important; font-size: 50px}
a.rslides_nav{display: none}

.rslides_tab li {
    background: none !important;
    float: left;
    margin: 0;
    list-style-image: none !important;
}




div#boxes-box-1456322187 {
    width: 75%; 
    margin-left: auto; 
    margin-right: auto;
    text-align: left; 
    margin-top:25px; 
background-color: #ffffff;
padding-left: 0px;
padding-right: 0px;
}

p{padding: 10px}

h1#page-title, h1, h2, h3 {font-weight:bold; font-family: copperplate; font-size: xx-large;}

#content-column .content-inner {background-color: #ffffff;}

div#block-boxes-1456322187 {background: #A0DBA1; padding: 0px; padding-top: 75px}



#menu-bar ul.nice-menu a:hover{color: #ffffff !important}

#menu-bar ul.nice-menu .menuparent.over > a,

#menu-bar ul.nice-menu .menuparent a:hover,

#menu-bar ul.nice-menu .menuparent a.active,

#menu-bar ul.nice-menu a.active,

#menu-bar ul.nice-menu ul:hover{color: #ffffff !important}





#menu-bar ul.nice-menu .menuparent > a:before{display: none}

.nav .block{margin-left: 20px !important;}

.front footer#footer {
 background: #C0C0C0; 
margin-top: -10%;
}

footer#footer {
 background: url(http://planetaryhealthalliance.org/files/pha/files/rsz_shutterstock_170874053.jpg?m=1460383835); 
margin-top: -1%;
}

section#block-boxes-hwp-personal-contact-html {
    color: #000000; 

font-family: copperplate gothic bold;

}



a.feed-icon {
    color: #000000; 
font-family:copperplate gothic bold;

}

.boxes-box-content {}

div#boxes-box-1458163296 {
    color: #000000;
font-family:copperplate gothic bold;
    }



div#boxes-box-1458235447 {
    color: #000000;   
    
}

       .sidebar .block, .front #content-column .block, #content-column .block.block-boxes-os_boxes_columns .block, .node-person .block-inner, .comment-wrapper
{border-top: transparent}

#branding_header .branding-container{display: none}


#layout_3_1_overlay .rslides_tabs{bottom: -1%}

div#boxes-box-1456322187 {
    width: 75%; 
    margin-left: auto; 
    margin-right: auto;
    text-align: left; 
    margin-top: -4%;} 


#columns .region-inner {margin-bottom: -3%}

ul {margin-left: 75px}

p {font-family: georgia;line-height: 1.4;}

section#block-boxes-hwp-personal-contact-html {margin-left: 65px}

img.image-style-os-files-xxlarge {margin-top: 50px;}

.front div#boxes-box-1458235447 a{font-family: georgia; font-size: 20px; margin-left: -3%}

.front h2.block-title {text-transform: none; 
    font-size: 20px; 
    font-family: georgia !important; 
    margin-bottom: 0px;
    margin-top: 20px;
   }

a {text-decoration: none !important}

#header p{font-size: 21px; font-family: copperplate; text-align: left;}

 img.image-style-os-slideshow-31-980 {min-width:980px !important;}

body {overflow: hidden; width: 100%;}

@media (min-width:320px){

div#block-boxes-1456322187 {margin-left: -55px;}}

section#block-boxes-hwp-personal-contact-html {margin-left: 8%;}

#footer img.image-style-os-files-xxlarge {margin-top: -15px; max-width: 200px; float: left; position: relative; left: 10%}

.front div#boxes-box-1458235447 a{font-family: georgia; font-size: 20px; margin-left: 8%}

div#boxes-box-1458335177 {
    margin-left: 10%;
    height: 25px;
}

div#boxes-box-1458237255 {
    margin-left: 10%;
}

div#block-boxes-1453068283 {margin-left: 10% !important}

@media (min-width:320px){

.front span {
    font-size: medium !important;
}

div#boxes-box-1460650844 {
    display: none;
}
div#boxes-box-1460653819 p{text-align: center}}
@media (min-width:320px){
.region.region-header-first {
    min-width: 300px !important;
    display: block !important;
    margin-top: -3%
    }}

@media (min-width:425px){
.region.region-header-first {
    min-width: 350px !important;
    display: block !important;
    margin-top: -3%
    }}

@media(max-width:500px){
    div#boxes-box-1456322187 {
    width: 90% !important; 
    margin-left: auto; 
    margin-right: auto;
    text-align: left; 
    margin-top:25px; 
background-color: #ffffff;
padding-left: 0px;
padding-right: 0px;
}}

@media (min-width:1100px){
.region.region-header-first {
    min-width: 350px !important;
    display: block !important;
    margin-top: -3%
    }}

@media (min-width:1100px){

div#boxes-box-1460650844 { display: block;
    width: 1000px;
    min-width: 850px !important;
    margin-left: 175px;
    margin-top: 57px;
    position: static;
    bottom: ;
    right:0;
    margin-right: 20px;
    }
div#boxes-box-1460653819 {display: none}
}

.caption.slide-copy a{
    font-family: copperplate;
}

@media (min-width:1280px){
    .flexslider-text-overlay-inner {font-size: 30px !important}
}

@media (max-height: 475px ){
    .flexslider-text-overlay-inner {font-size: 20px !important}
}

@media (max-height: 799px ){
    .flexslider-text-overlay-inner {font-size: 25px}
}


@media(min-width: 1010px){


    .front .flexslider-text-overlay {
        position: absolute;
        display: block;
        top: 150px;
        left: 280px;
        width: 27vw;
        z-index: 10;
        height: calc(100vh - 150px);
        color: #fff !important;
        background: rgba(0, 0, 0, .5) !important;
        margin-left: -280px;
    }
}
